<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="icon" href="/static/logo.jpg">
    <title>Tabbies</title>
</head>
<style>
    body {
        background-image: url('/static/background-small.jpg');
        background-repeat: repeat;
    }
    .writePost {
        padding: 0.5em 1em;
        height: fit-content;
        width: 100%;
        background-color: #dadada;
    }
    .readPost {
        margin: 2em 0em;
    }
    .feeds {
        background-color: #f5f3f3;
        height: fit-content;
        border: 1px solid black;
        max-width: 800px;
    }
    .singlePost {
        margin: 1em 0em;
    }
    #post-btn {
        text-shadow: 1px 1px black;
        margin: 0.1em 0.5em;
        border-radius: 25px;
        width: 7em;
    }    
    #pic-btn {
        text-shadow: 1px 1px black;
        margin: 0.1em 0.5em;
        border-radius: 25px;
    }
    #postInput {
        margin: 0.5em 0em;
        resize: none;
    }
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Tabbies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="nameOfUser" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/api/user/signOut">Sign Out</a>
                </div>
            </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container feeds">
        <div class="writePost">
            <div class="form-outline text-right">
                <form action="/api/post/createPost" method="POST" enctype="multipart/form-data">
                    <textarea class="form-control" id="postInput" rows="4" name="body" placeholder="Have something in mind?"></textarea>
                    <input type="file" id="uploadFile" name="file" class="btn btn-primary" style="width: 100%;">
                    <input type="text" id="uploadFileType" name="contentType" value="image" hidden>
                    <button class="btn btn-success" id="post-btn" type="submit">Post</button>
                </form>
            </div>
        </div>
        <div class="readPost" id="readposts">
        </div>
    </div> 
</body>
<script>
    var userInfoAvailable=false
    var userInfo
    var extensions = {
        image: ['png', 'tiff', 'gif', 'jpeg', 'jpg'],
        av: ['mp4', 'mkv', 'ogg', 'm4a', 'mp3', 'wav']
    }
    $(document).ready(() => {
        $.getJSON('/api/user/getUserInfo', (data, status) => {
            if(data.success) {
                document.getElementById('nameOfUser').innerText=capName(data.data.name)
                userInfo=data.data
                userInfoAvailable=true
            }
        })
        setTimeout(() => {
            $.getJSON('/api/post/getPosts', (data, status) => {
                data.forEach(element => {
                    document.getElementById('readposts').innerHTML=document.getElementById('readposts').innerHTML+`
                    <div class="card singlePost" style="width: 100%;">
                    <h3 class="card-title" style="margin: 0.5em 2em;">${element.owner}</h3>
                    `+getMedia(element.contentType, element.link)+`
                    <div class="card-body">
                        <p class="card-text">${element.body}</p>
                    </div>
                    </div>`
                });
            })
        }, 2000)
    })
    const capName = name => {
        name=name.trim()
        let splitStr = name.toLowerCase().split(' ');
        for (let i = 0; i < splitStr.length; i++) {
            splitStr[i] = splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);     
        }
        return splitStr.join(' '); 
    }
    const getMedia = (contentType, link) => {
        if(contentType==='image') {
            return `<img class="card-img-top" src="${link}" alt="Card image cap">`
        }
        else if(contentType==='av') {
            return `<video class="card-img-top" controls>
                    <source src="${link}">
                    Your browser does not support the video tag.
                </video>`
        }
        else {
            return ''
        }
    }
    document.getElementById('uploadFile').addEventListener('change', () =>{
        const arr = document.getElementById('uploadFile').value.split('.')
        const ext = arr[arr.length-1].toLowerCase()
        if(extensions.image.find(e => e==ext)!=undefined) {
            console.log('image', ext)
            document.getElementById('uploadFileType').value='image'
        }
        else if(extensions.av.find(e => e==ext)!=undefined) {
            console.log('av', ext)
            document.getElementById('uploadFileType').value='av'
        }
    })
</script>
</html>